<div id="page_container" class="marginadjust">
  <h2>Sign Up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email, class: "field__label", for: "input-email" %><br />
      <%= f.email_field :email, class: "field__input one-column-form__input--text", type:"email", placeholder: "Email address", autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :name, class: "field__label", for: "input-name" %><br />
      <%= f.text_field :name, class: "field__input one-column-form__input--text", type:"name", placeholder: "Name", autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password, class: "field__label", for: "input-password" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, class: "field__input one-column-form__input--text", type:"password", placeholder: "Password", autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class: "field__label", for: "input-password-confirmation" %><br />
      <%= f.password_field :password_confirmation, class: "field__input one-column-form__input--text", type:"password-confirmation", placeholder: "Password Confirmation", autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign Up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
